### sample msg file

# For non-cluster usage, set cluster to 0
cluster=1
queue=1day

# List of barcodes (columns = barcode/tplate_id/cross_id/tsex) - see posted example
barcodes=barcodes_file

# Barcoded reads from a genetic cross
reads=SRR071201.fastq

# Restriction enzymes recognized: MseI|NdeI|Hpy188I|HphI|MboII|XcmI|Hpy188III|AhdI|HpyAV|null
re_cutter=MseI
# linker_system enzymes recognized: Tn5-IonTorrent|Dros_SR_vII
# (Set re_cutter above to null when using Tn5-IonTorrent here)
linker_system=Dros_SR_vII

# Parental reference genomes
parent1=dsim-all-chromosome-r1.3.fasta
parent2=dsec-all-chromosome-r1.3.fasta

# Updating parental genomes 
# the reads used are assumed to be stripped of any barcodes.  We 
# also recommend these reads be quality trimmed prior to use 
parent1_reads=SRR074287.fastq
parent2_reads=SRR074288.fastq

# Algorithm for constructing BWT index: bwtsw (default) or is (for parental 
# genomes smaller than 10MB)
bwaindex1=bwtsw
bwaindex2=bwtsw

# Algorithm for BWA mapping (aln or bwasw)
# aln should be faster (and more suited for short reads).  bwasw may be more
# accurate. (This is ignored if use_stampy is set to 1)
bwa_alg = aln

# Number of threads used by BWA (multi-threading mode)
bwa_threads = 1

# Use stampy instead of BWA for mapping.  (1 or 0)
use_stampy = 0
# Pre-map with BWA before running stampy. This is almost always recommended. (1 or 0)
# (This is ignored if use_stampy = 0 since you wouldn't be using stampy to begin with..)
stampy_premap_w_bwa = 1

# If running stampy, optionally specify how many pseudo threads it will use
# this is only valid with the cluster option set to 1.
# set this to 0 to not use this. 
stampy_pseudo_threads = 0

# Minimum Phred-scaled consensus quality needed (column 5 from pileup 
# output). Setting this >0 will result in masking regions not fitting 
# this criterion
update_minQV=1
# Minimum number of reads needed. All regions with < min_coverage will 
# not be updated. 
min_coverage=2

#theta = 1 => take all reads, theta = 0 => take one read randomly
theta=1

# Maximum number of reads allowed (in standard deviations from mean reads of 
# covered sites).  
# E.g., if mean is 20 and std is 4 and one enters max_coverage_stds = 2
# Then all regions with more than 28 reads (20 + 4 * 2) will not be updated.
# (Comment out for no maximum)
max_coverage_stds=2
# If the maximum coverage is exceeded, what should the site be replaced with.
# Use "N" for mask, and "D" for default
max_coverage_exceeded_state=N

# Chromosomes to analyse, sex chromosomes (male hemizygous) and those 
# to produce plots for
chroms=all
sexchroms=X
chroms2plot=2L,2R,3L,3R,4,X

# Priors on ancestry
# For sex-linked chromosomes in males, the priors become (0.5, 0, 0.5).
# F1 x F1 cross: 0.25,0.5,0.25 
# F1 x parent2 backcross: 0,0.5,0.5
priors=0,0.5,0.5

# These two parameters determine the value of the "allele frequencies" (P_{kmj} in the paper)==gamma
# Essentially they give the probability that the study strain does not have 
# the same allele as the (perhaps updated) reference sequence, for the two parental strains. 
# This parameter is estimated from putatively homozygous regions and a plot with the
# error estimates for both parents can be found in hmm_fit_images (default 0.1)
deltapar1=.01
deltapar2=.01

# Recomination rate
# Expected number of recombination events per genome per meiosis (default 3, in Drosophila)
recRate=3

# This parameter can be used to alter the recombination rate in the model:
# if it is greater than one then the model will be tend to introduce more recombination
# breakpoints; less than one and it will introduce fewer. (default 1)
rfac=.000001

# Min fraction of missing data (summaryPlots.R)
pnathresh=.03

# Should all reads be quality trimmed and what values to use. 
# Set quality_trim_reads_thresh to 0 to skip this step.
# Base intensity threshold value (Phred quality scores 0 to 40

quality_trim_reads_thresh = 20

# Minimum number of consecutive bases passing threshold values

quality_trim_reads_consec = 30

#When using Stampy, set divergence for mapping reads to a reference (note: this is
#strongly recommended by stampy for divergences >3%, as it will automatically
#shut down BWA pre-mapping which otherwise cause occasional segfaults)
#(stampy default if .001) #comment out to use stampy default.
#This is in %. For example if you want 5% set these values to 0.05
indiv_stampy_substitution_rate = 0.05
parent1_stampy_substitution_rate = 0.03
parent2_stampy_substitution_rate = 0.03

# Filter out poor alignments, set this to 0 to skip
indiv_mapq_filter = 20
parent1_mapq_filter = 20
parent2_mapq_filter = 20

# Custom qsub options.  Modify these if you are running on a customized SGE with
# special options for requesting an exclusive node. The commented out options below
# are what are used for the cluster at Janelia Farm.
# These default to blank if they are not specified.
# for the pe option leave off the slot count, this is set from the threads option.
#addl_qsub_option_for_exclusive_node=-l mem96=true,excl=true
#addl_qsub_option_for_pe=-pe batch
#threads=8

